
/* Grid Layer */

.css-grid.layer {
	float: left;
	width: 100%;
}

/* Grid Base */

.css-grid.base {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px; /* Gutter Size */
	padding-right: 10px; /* Gutter Size */
}

.css-grid.base {
	padding-top: 1em; /* Margin Fix */
}

.css-grid.base + .css-grid.base {
	padding-top: 0; /* Margin Fix */
}

/* Grid Content */

.css-grid.base .css-grid.content {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin-top: -1em; /* Margin Fix */
	padding-left: 10px; /* Gutter Size */
	padding-right: 10px; /* Gutter Size */
	width: 100%;
}

/* Clear Fix */

.css-grid.layer:after,
.css-grid.base:after,
.css-grid.content:after {
	content: "";
	display: table;
	clear: both;
}